.slide-container {
  width: 100%;
  height: 100%;
  max-height: 700px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.slide-container{
  opacity: 0;
  transition: opacity 1s ease;
}

.slide-container.active {
  opacity: 1;
  transition: opacity 1s ease;
}

.slide-container > * {
  margin-bottom: 12px;
}

.slide-container.no-image > .image-container{
  display: none;
}

.slide-container.no-image > .feature-all-text-container{
  padding: 24px;
}

.carousel-modal .ant-modal-content {
  background-color: transparent;
  box-shadow: none;
  color: #37474f;
}

.carousel-modal .ant-modal-body {
  background-color: #cfd8dc;
  padding: 0px 0px 10px 0px;
}

.carousel-modal .ant-modal-footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.feature-all-text-container {
  padding: 0px 24px 0px 24px;
}

.feature-title-text-container {
  display: flex;
  justify-content: center;
}

.modal-confirm-container {
  display: flex;
  justify-content: center;
}

.release-image-item {
  max-height: 100%;
  max-width: 100%;
}

.image-container {
  height: 400px;
  max-height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eceff1;
}

.image-container img {
  padding: 24px;
}

.slide-toggle-button.active {
  background: #ffffff;
}

.slide-toggle-button {
  color: #ccc;
  width: 12px;
  border: 0;
  cursor: pointer;
  height: 12px;
  margin: 7px;
  padding: 0;
  outline: none;
  display: block;
  background: #9c9c9c;
  user-select: none;
  border-radius: 999px;
}
